<%- include("partials/header.ejs") %>
    <body>
        <form method="POST" action="/register">
            Username: <input type="text" name="username">
            Password: <input type="password" name="password">
            <button>Register</button>
        </form>
    </body>
</html>