<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-primary min vh-100">
            <h1 class="p-5 bg-primary text-white text-center rounded">Quote Finder</h1> 
            <hr style="color: white; height: 5px">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
                <div class="mt-3 mb-3 flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start justify-content-center text-center" id="menu">
                    <form action="/quotes" class="pt-2">
                        <button class="btn btn-primary shadow-none">List all quotes</button>
                    </form>
                        <button id="findQuoteButton" class="btn btn-primary shadow-none">Search for quotes</button>
                        <button id="addQuoteButton" class="btn btn-primary shadow-none">Add your own quote</button>
                    <form action="/logout" class="pt-2 pb-2">
                        <button class="btn btn-primary shadow-none">Sign out</button>
                    </form>
                </div>
            </div>
            <hr style="color: white; height: 5px" class="mt-5"> 
        </div>
        <div class="col py-3">